<div class="modal new-post" tabindex="-1" role="dialog" aria-labelledby="newPost" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <%= form_for [current_user, @post] do |f| %>
          <%= f.text_area :body, :autofocus => true, :class => "form-control" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--
<script>
$(function(){
    $('textarea').keypress(function(e) {
        if (e.keyCode == 13 && !e.shiftKey) {
            e.preventDefault();
            var frm = this.form; // don't submit the form yet
            $.ajax({
                url: $(frm).attr('action'), // remember to specify which attribute you want
                data: $(frm).serialize(),
                dataType: "json",
                success: function() { frm.submit(); } // submit the form when the ajax request is complete
            });
        }
    });

});
</script>
 -->
