<div class="container">
  <div style="height:150px;
              width:150px;
              border-radius:10px;
              background-color:<%= @user.color %>">
  </div>
  <h3><%= @user.email %></h3>
  <h4>Posts</h4>
  <h5 id="number-of-posts"><%= @user.posts.length %></h5>
</div>
