<% if current_user %>
  <%= render 'new_post_modal' %>
<% end %>

<div class="col-md-3 hidden-xs">
</div>

<div class="col-md-7">
  <h2>This is where posts from your followers will show.</h2>
</div>

<div class="col-md-2 hidden-xs hidden-sm">

</div>
