<%= render 'new_post' %>

<div class="col-md-4 hidden-xs">
  <h2>User Info</h2>
   <%= render "color" %>
</div>

<div class="col-md-6">
  <h1>Tweets</h1>
  <% @posts.each do |post| %>
    <%= render "post", :@post => post %>
  <% end %>
</div>

<div class="col-md-2 hidden-xs hidden-sm">

</div>
