<% if current_user %>
  <%= render 'new_post_modal' %>
<% end %>

<div class="col-md-3 hidden-xs">
  <h2>Home</h2>
</div>

<div class="col-md-7">
  <div id="posts-all">
  <%= render ('posts/all_posts') %>
  </div>
</div>

<div class="col-md-2 hidden-xs hidden-sm">

</div>
