<%= render 'new_post_modal' %>

<div class="col-md-3 hidden-xs">
   <%= render "user_info" %>
</div>
<div id="posts">
  <div class="col-md-7 post-box-container">
    <% @posts.each do |post| %>
      <%= render 'edit_post_modal', :@post => post  %>
      <%= render "post", :@post => post %>
  <% end %>

  </div>
</div>

<div class="col-md-2 hidden-xs hidden-sm">

</div>
